QMainWindow {
    background-color: darkgray;
}

QMainWindow {
    font-family: "PingFang SC";

}

QFont {
    font-family: "PingFang SC";
    font-size: 20pt;
}

.QTabBar {
    border: 0px;
}

/*右侧可拖动的分割条*/
QSplitter {
    background: "#123123";
}